<div class="d-flex justify-content-center">
    <form class="card-form" method="POST" action="">
        <div class="mb-3">
            <label class="form-label">Name:</label>
            <input id="user_name" name="user-name" type="text" class="form-control form-control-sm">
        </div>

        <div class="mb-3">
            <label class="form-label">Surname:</label>
            <input id="user_surname" name="user-surname" type="text" class="form-control form-control-sm">
        </div>

        <div class="form-check">
            <input name="is_active" type="checkbox" class="form-check-input" id="chb_active">
            <label for="chb_active" class="form-check-label">Active</label>
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" id="btn_add">ADD</button>
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary btn-hidden" id="btn_save">SAVE</button>
        </div>
    </form>
</div>